# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\automation atypon\final assignment\qaa-assignment\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
